.Rproj.user/*
.Rhistory
.RData
.Ruserdata
inst/doc
.Rapp.history
*-Ex.R
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.knit.md
.Renviron
.DS_Store
*.utf8.md
docs
