body {
    font-family:Palatino,"Palatino Linotype",Times,serif;
	font-size:16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Constantia", Palatino,"Palatino Linotype",Times,serif;
}

img {border:none}
